<!DOCTYPE html>
<html>
<head>
  <title>Reliatyvios žinios</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="content">
  <%= image_tag "circles_l.png", id: "page_circles_r" %>
  <%= image_tag "title.png", id: "page_title"%>
  <%= image_tag "circles_r.png", id: "page_circles_l" %>
  
  <%= yield %>

  <%= image_tag "bottom.png", id: "page_bottom" %>
</div>

<p id="footer">Meilė 2016</p>

<% if Rails.env == "development" %>
  <% console %>
<% end %>

</body>
</html>
